body {
  background-color: #111;
  color: #fff;
  font-size: 3em;
  font-family: Helvetica, Arial, sans-serif;
  max-width: 15em;
  margin: 2em auto;
}
input {
  font-size: 1em;
  width: 14em;
  padding:  0.25em;
}